/* add custom styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.nav-wrapper {
  padding: 0px 10px 0px 10px;
}
.title {
  text-align: center;
  font-size: 40px;
}
.movieDiv {
  height: 200px;
  padding: 20px 50px 20px 50px !important;
}
.movieDiv h2{
  font-size: 30px;
}
.movieDiv h4{
  font-size: 15px;
}
.moviePoster img {
  width: 100%
}
.movieTitle {
  font-size: 40px;
  margin-bottom: 15px;
  padding-left: 15px;
}
.movieInfo {
  font-size: 20px;
}
.movieInfo h4 {
  font-size: 25px;
}
